In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
weather = pd.read_csv("https://raw.githubusercontent.com/alanjones2/dataviz/master/london2018.csv") 
weather

    Year  Month  Tmax  Tmin  Rain    Sun
0   2018      1   9.7   3.8  58.0   46.5
1   2018      2   6.7   0.6  29.0   92.0
2   2018      3   9.8   3.0  81.2   70.3
3   2018      4  15.5   7.9  65.2  113.4
4   2018      5  20.8   9.8  58.4  248.3
5   2018      6  24.2  13.1   0.4  234.5
6   2018      7  28.3  16.4  14.8  272.5
7   2018      8  24.5  14.5  48.2  182.1
8   2018      9  20.9  11.0  29.4  195.0
9   2018     10  16.5   8.5  61.0  137.0
10  2018     11  12.2   5.8  73.8   72.9
11  2018     12  10.7   5.2  60.6   40.3

In [ ]:
weather.plot.scarret(y= "Tmax", x= "T")